.ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: "hidden";
}

.li {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.row {
    font-size: 0.8rem;
    overflow: hidden;
    max-width: 90%;
    text-overflow: ellipsis;
    white-space: nowrap;
}
